<% include ../partials/header.ejs %>

<div class="index menu">
    <a class="item">
      Home
    </a>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search Booze">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>

  <div class="drinks">
   
  </div>

  <% include ../partials/footer.ejs %>
 