<% include ../partials/header.ejs %>

<div class="landing-div">
        <% drinks.forEach(function(drink){ %>
            <p>
                <%= drink.id %>
                <%= drink.drink_name %>
            </p>
        <% }); %>
</div>
    
<% include ../partials/footer.ejs %>
