<% include partials/headerlanding.ejs %>

<div class="landing-div">
    <h1 class header-text>
        Candy is Dandy but <em class="logo">liQr</em> is quicker.
    </h1>
    <a href="/drinks">
        <button class="ui primary button">Enter</button>
    </a>
</div>
    
<% include partials/footer.ejs %>