<% include partials/headerlanding.ejs %>

<div class="landing-div">
    <h1 class header-text>
        Candy is Dandy but <em class="logo">liQr</em> is quicker.
    </h1>
    <button class="ui primary button">
        <a href="/drinks">Enter</a>
      </button>
</div>

<%= text %>
    
<% include partials/footer.ejs %>