<% include partials/header.ejs%>

<div class="landing-div">
    <h1 class header-text>
        Candy is Dandy but <em class="logo">liQr</em> is quicker.
    </h1>
</div>
    
<% include partials/footer.ejs %>