<% include partials/headerlanding.ejs %>

<div class="landing-div">
    <div>
            <% if(error && error.length > 0){ %>
                <div >
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div >
                    <%= success %>
                </div>
            <% } %>
    </div>
       
    <h1 class header-text>
        Candy is Dandy but <em class="logo">liQr</em> is quicker.
    </h1>
    <a href="/drinks">
        <button class="ui primary button">Enter</button>
    </a>
</div>
    
<% include partials/footer.ejs %>