<% include partials/headerlanding.ejs %>

<<<<<<< HEAD
  <div class="flex">

    <div class="first beer">
      <div class="foam"></div>
      <div class="liquid"></div>
    </div>

    <div class="second beer">
      <div class="foam"></div>
      <div class="liquid"></div>
    </div>
  </div>

  <div class="bar"></div>

  <div class="path">
    <div class="people anim">
      <div class="head"></div>
      <div class="body"></div>
      <div class="legs"></div>
    </div>



    <div class="data">
      <script src="js/index.js"></script>
      <% include partials/footer.ejs %>
=======
<div class="landing-div">
    <h1 class header-text>
        Candy is Dandy but <em class="logo">liQr</em> is quicker.
    </h1>
    <a href="/drinks">
        <button class="ui primary button">Enter</button>
    </a>
</div>
    
<% include partials/footer.ejs %>
>>>>>>> 12fffbc04d36f665c4ea5432c1c07c55c55b9173
