<% include partials/header.ejs%>

<div class="ui two column middle aligned very relaxed stackable grid">
    <div class="column">
        <form id='loginForm'>
        <div class="ui form">
            <div class="field">
                <label>Email</label>
                <div class="ui left icon input">
                    <input id="emailForm" type="text" placeholder="Username" name="email">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                    <input id="passwordForm" type="password" name="password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <button id='loginButton'class="ui blue submit button">Login</button>
        </div>
    </div>
    <div class="ui vertical divider">
    </form>
        Or
    </div>
    <div class="center aligned column">
        <div class="ui big green labeled icon button">
            <i class="signup icon"></i>
           <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
