<% include partials/header.ejs %>
<div class="ui container">
        <h1>Page Note Found</h1>
        <p>Sorry we could not find that page. Error: 404</p>
        <a class="ui massive primary button" href="/">Home</a>
</div>


<% include partials/footer.ejs %>