<<<<<<< HEAD
/* body {
    background-size: cover;
    font-family: 'Montserrat',
    sans-serif;

}

.landing-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60%;
    margin-top: 10%;
    font-size: 4rem
}

.logo {
    color: rgb(231, 121, 31);
}
.header-text {
    font-weight: 200;
} */
=======
>>>>>>> 12f950e6390cc3705541dd169a24ed9adfd5185c
